/* bootsrap :) */
/* * {
  margin: 10px;
} */
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  width: 100%;
}

h3,
.link {
  margin-left: 50px;
}

.btn-outline-dark {
  width: 150px;
  margin-top: 5px;
}

table {
  max-width: 1200px;
  margin: 10px auto;
}

/*  class="align-middle" */
#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}

.nowaklasa {
  font-size: 100px;
  border: 10px solib black
}

.answer {
  max-width: 250px;
  word-wrap: break-word;
}

#task {
  max-width: 255px;
}

.answer {
  margin: 10px auto 0 auto;
}

td {
  margin: 10px auto;
  text-align-last: center;
  vertical-align: baseline;
}

.goToTop {
  margin-bottom: 15px;
}

@media only screen and (max-width: 1240px) {
  table {
    max-width: 90%;
  }
}

/* SMOTH SCROLL BUTTON*/
#btnTopOnScroll {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#btnTopOnScroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#btnTopOnScroll:hover {
  cursor: pointer;
  background-color: #333;
}

#btnTopOnScroll:active {
  background-color: #555;
}

#btnTopOnScroll.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */


@media (min-width: 500px) {

  #btnTopOnScroll {
    margin: 30px;
  }
}