/* bootsrap :) */
/* * {
  margin: 10px;
} */

body {
  width: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  width: 100%;
}

h3,
.link {
  margin-left: 50px;
}

.btn-outline-dark {
  width: 150px;
  margin-top: 5px;
}

table {
  max-width: 1200px;
  margin: 10px auto;
}

/*  class="align-middle" */
#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}

.answer {
  margin: 10px auto 0 auto;
}

td {
  margin: 10px auto;
  text-align-last: center;
  vertical-align: baseline;
}

.goToTop {
  margin-bottom: 15px;
}

@media only screen and (max-width: 1240px) {
  table {
    max-width: 90%;
  }
}